:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

}



body{
    background-color: var(--Cream);
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    height: 520px;
    width: 700px;
    border-radius: 1em;
    background-color: var(--White);
}

.image-product{
    height: 520px;
    border-radius: 1em 00em 0em 1em;
}
.produto{
    display: flex;
    align-items: center;
    width: 700px;
    height: 550px;
}
.informacoes{
    width: 270px;
    height: 500px;
    margin-left: 30px;
    margin-top: 15px;
}

.perfume{
    color:var(--Darkgrayishblue);
    font-family:'Montserrat';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 7px;

    

}

.nome{
    display: flex;
    height: 190px;
}

.titulo{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 35.5px;
    line-height: 35px;

    
}

.texto{
    font-family: 'Montserrat';
    color: var(--Darkgrayishblue);
    font-weight: 500;
    font-size: 16px;
    margin-top: -40px;
}

.precos{
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.preco{
    font-family: 'Fraunces', serif;
    color: var(--Darkcyan);
    margin-right: 15px;
    font-weight: 700;
    font-size: 37px;

    
}

.sempromo{
    font-family: 'Montserrat';
    text-decoration: line-through;
    color: var(--Darkgrayishblue);
    font-size: 14px;
}

.comprar{
    display: flex;
    height: 76px;
    justify-content: center;
    align-items: center;
    align-items: baseline;

    
}

.carrinho{
    height: 15px;
    margin-right: 10px;
}
.botao{
    background-color: var(--Darkcyan);
    color: white;
    font-family: 'Montserrat';
    height: 55px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.addcart{
    font-family: 'Montserrat';
    font-size: 14px;
}
